@model FinalProject.Models.Services

@{
    ViewData["Title"] = "Dodaj novog predavača";
    ViewData["Description"] = "Ispunite obrazac kako bi dodali novi predmet";
}

<h1>@ViewData["Title"]</h1>

<h4>@ViewData["Description"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Naziv predmeta</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cijena po satu</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis predmeta</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LecturerId" class="control-label">Nastavnik</label>
                <select asp-for="LecturerId" class ="form-control" asp-items="ViewBag.LecturerId"></select>
            </div>
            <div>
                <partial name="~/Areas/Admin/Views/Shared/_CategoriesDropdownPartial.cshtml" />
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj predmet" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-primary">Popis predmeta</a>
            </div>
        </form>
    </div>
</div>

